* {
    border-radius: 3px;
    border: none;
}

window {
    font-size: 12px;
    font-family: "JetBrainsMono Nerd Font", monospace;
    color: #f2e5bc;
    background-color: #32302f;
    border-bottom: 3px solid #d3869b;
}

#entry {
    padding: 0.5em;
}

#entry:selected {
    background-color: #d3869b;
}

#outer-box {
    border: none;
    border-radius: 5px;
}

#input {
    background-color: #32302f;
    color: #f2e5bc;
    padding: 0.5em;
}

image {
    margin-right: 0.5em;
    margin-left: 0.5em;
}
